<!DOCTYPE html>
<html>
<head>
<title>Capsules</title>
</head>
<body>
<p>Capsules!</p>

<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '372475036103410',
    status     : true, 
    cookie     : true,
    xfbml      : true,
    oauth      : true
  });
  FB.Event.subscribe('auth.login', function(response) {
    window.location = "http://young-spring-5136.herokuapp.com/me";
  });
  FB.getLoginStatus(function(response) {
  	if(response.status === 'connected') {
  		window.location = "http://young-spring-5136.herokuapp.com/me";
  	}
};
(function(d){
   var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   d.getElementsByTagName('head')[0].appendChild(js);
 }(document));
</script>
<div class="fb-login-button">Login with Facebook</div>

</body>
</html>