<!DOCTYPE html>
<html>
<head>
<title>Capsules</title>
</head>
<body>
<p>Capsules!</p>

<a href="https://foursquare.com/oauth2/authenticate?client_id=F4CIIS2L1QKBNX4FUPXZ0XZHALSEX2YG43DYODQ4JDPHCH3U&amp;response_type=token&amp;redirect_uri=http://young-spring-5136.herokuapp.com/login">Log in with foursquare</a>
<script>
 function post_to_url(path, params, method) {
    method = method || "post"; // Set method to post by default, if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);

        form.appendChild(hiddenField);
    }

    document.body.appendChild(form);
    form.submit();
}
</script>
</body>
</html>